<div id="<%= dom_id phone %>">
  <p>
    <strong>Department:</strong>
    <%= phone.department %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= phone.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= phone.position %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= phone.number %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= phone.mobile %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= phone.mail %>
  </p>

</div>
